.body-img{
  background-image: url("../images/creased-crinkled-crumpled-479444.jpg");
width: 100%;
height: 100%;
align-content: center;
}

.containerButton{
  padding-left: 35%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 10%;

}

.scoreTracking{
  display:none;
}